{{> head title='Admin edit debate' subtitle='Admin section' }}
{{> admin/header }}

{{> alert }}

<main class="o-grid-container">
	<h1 class="admin-section">Edit debate type</h1>
	<div class="o-grid-row">
		<section class="admin-content">
			{{#if error}}
			<div>{{error}}</div>
			{{else}}
			<form id="form_new_debate_type" action="/admin/debate_type/edit/{{name}}" method="POST"
				encrypt="multipart/form-data">
				<div class="o-forms">
					<label for="name" class="o-forms__label">Name</label>
					<input type="text" name="name" class="o-forms__text" value="{{name}}" required disabled />
					<div id="msg_error" class="error o-forms__errortext hide" data-validation="name"></div>
				</div>
				<div class="o-forms">
					<label for="name" class="o-forms__label">Display Name</label>
					<input type="text" name="displayName" class="o-forms__text" value="{{displayName}}" required />
					<div id="msg_error" class="error o-forms__errortext hide" data-validation="name"></div>
				</div>
				<div class="o-forms">
					<label for="description" class="o-forms__label">Description</label>
					<input type="text" name="description" class="o-forms__text" value="{{description}}" required />
					<div id="msg_error" class="error o-forms__errortext hide" data-validation="description"></div>
				</div>
				<div class="o-forms">
					<label for="createdBy" class="o-forms__label">Created By</label>
					<input type="text" name="createdBy" class="o-forms__text" value="{{createdBy}}" required disabled />
					<div id="msg_error" class="error o-forms__errortext hide" data-validation="createdBy"></div>
				</div>
				<div class="o-forms">
					<label for="specialUsers" class="o-forms__label">Special user types</label>
					<div id="text-box-info" class="o-forms__additional-info">Add or edit any special users that are
						required for
						this debate. This can be used for teams ortagging specific user comments. When you create a
						debate you will have an option to add usernames to each field specified here.
					</div>
					<div class="custom-element-buttons">
						<button class="add-text-field-specialUsers o-buttons" type="button">
							<span class="o-buttons-icon__label">Add</span>
						</button>
						<button class="remove-text-field o-buttons" type="button">
							<span class="o-buttons-icon__label">Remove</span>
						</button>
					</div>
					<div class="special-user-fields">
						{{#if specialUsers}}
						{{#each specialUsers}}
						<div class="user-inputs">
							<label for="name" class="o-forms__label">Field Name</label>
							<div class="o-forms__additional-info" id="text-box-info">This is the name as it will appear
								in the database. Please use camel case.
							</div>
							<input type="text" class="o-forms__text" name="specialUsers[{{index}}][name]"
								value="{{name}}" required>
							<label for="dsiplayName" class="o-forms__label">Display Name</label>
							<div class="o-forms__additional-info" id="text-box-info">This is the name that will show up
								in the create debate form when this type is selected.
							</div>
							<input type="text" class="o-forms__text" name="specialUsers[{{index}}][displayName]"
								value="{{displayName}}" required>
							<label for="fieldDescription" class="o-forms__label">Field Description</label>
							<div class="o-forms__additional-info" id="text-box-info">Please add a description for the
								field
								that will appear when a user creates a new debate of this type</div>
							<input type="text" class="o-forms__text" name="specialUsers[{{index}}][description]"
								value="{{description}}" required>
						</div>
						{{/each}}
						{{/if}}
					</div>
					<div id="msg_error" class="error o-forms__errortext hide" data-validation="specialUsers"></div>
				</div>
				<div class="o-forms">
					<label for="tags" class="o-forms__label">Tags</label>
					<div id="text-box-info" class="o-forms__additional-info">Add or edit any tags that your debate type
						instances will be able to select.
					</div>
					<div class="custom-element-buttons">
						<button class="add-text-field-tags o-buttons" type="button">
							<span class="o-buttons-icon__label">Add</span>
						</button>
						<button class="remove-text-field o-buttons" type="button">
							<span class="o-buttons-icon__label">Remove</span>
						</button>
					</div>
					<div class="tags-fields">
						{{#if tags}}
						{{#each tags}}
						<div class="user-inputs">
							<label for="name" class="o-forms__label">Field Name</label>
							<div class="o-forms__additional-info" id="text-box-info">This is the name as it will appear
								in the database. Please use camel case.
							</div>
							<input type="text" class="o-forms__text" name="tags[{{index}}][name]" value="{{name}}"
								required>
							<label for="dsiplayName" class="o-forms__label">Display Name</label>
							<div class="o-forms__additional-info" id="text-box-info">This is the name that will show up
								in the create debate form when this type is selected.
							</div>
							<input type="text" class="o-forms__text" name="tags[{{index}}][displayName]"
								value="{{displayName}}" required>
							<label for="fieldDescription" class="o-forms__label">Field Description</label>
							<div class="o-forms__additional-info" id="text-box-info">Please add a description for the
								field
								that will appear when a user creates a new debate of this type</div>
							<input type="text" class="o-forms__text" name="tags[{{index}}][description]"
								value="{{description}}" required>
						</div>
						{{/each}}
						{{/if}}
					</div>
					<div id="msg_error" class="error o-forms__errortext hide" data-validation="tags"></div>
				</div>
				<div class="o-forms">
					<button type="submit" class="o-buttons o-buttons--primary" id="submit_new_debate">Edit
						debate</button>
				</div>
			</form>
			{{/if}}
		</section>
	</div>
</main>

{{> footer type="admin" namedJs="debateTypeForm"}}