{{> admin/header title='Admin dashboard' subtitle='Admin section' }}

<main>
	<h2>
		Dashboard
	</h2>
	{{#if debateList}}
	{{#each debateList}}
	<h3>{{ debateTypeName }}</h3>
	<table class="list-debates">
		<thead>
			<th>
				Name
			</th>
			<th>
				Status
			</th>
			<th>
				Voting
			</th>
		</thead>
		{{#if debates}}
		{{#each debates}}
		<tr>
			<td>
				{{ this.title }}
			</td>
			<td>
				{{this.debate_status}}
			</td>
			<td>
				{{this.voting_status}}
			</td>
			<td>
				<a href="/{{ ../debateTypeName }}/{{ this.id }}">view</a>
			</td>
			<td>
				<a href="/admin/edit_debate/{{ this.id }}">edit</a>
			</td>
		</tr>
		{{/each}}
		{{/if}}
	</table>
	{{/each}}
	{{/if}}
</main>

{{> admin/footer}}