{{> admin/header title='Admin dashboard' subtitle='Admin section' }}

<main>
	<h2>
		Dashboard
	</h2>
	{#each debateList}}
	<h3><a href="/type/{{ debateTypeName }}">{{ debateTypeName }}
		</a></h3>
	<ul>
		{{#each debates}}
		<li>
			<a href="/{{ ../debateTypeName }}/{{ this }}">{{ this }}</a>
		</li>
		{{/each}}
	</ul>
	{{/each}}
</main>

{{> admin/footer}}