{{> head title='Admin' subtitle='Admin section' }}
{{> admin/header }}

<main class="o-grid-container">
	<h1 class="admin-section">Moderation</h1>
	<div class="o-grid-row">
		<section class="admin-content">
			<table class="o-table o-table--row-stripes" data-o-component="o-table">
				<thead>
					<tr>
						<th scope="col" role="columnheader">Content</th>
						<th scope="col" role="columnheader">Reported by</th>
						<th scope="col" role="columnheader">Tools</th>
					</tr>
				</thead>
				{{#if reports}}
				{{#each reports}}
				<tr>
					<td>
						content
					</td>
					<td>
						user report
					</td>
					<td>
						<a href="/{{ ../debateTypeName }}/{{ this }}">ignore</a>
					</td>
					<td>
						<a href="/admin/debate/edit/{{ this }}">hide/delete</a>
					</td>
					<td>
						<a href="/admin/debate/edit{{ this }}">view context</a>
					</td>
				</tr>
				<tr>
					<td>
						content
					</td>
					<td>
						user report
					</td>
					<td>
						<a href="/{{ ../debateTypeName }}/{{ this }}">ignore</a>
					</td>
					<td>
						<a href="/admin/debate/edit/{{ this }}">hide/delete</a>
					</td>
					<td>
						<a href="/admin/debate/edit/{{ this }}">view context</a>
					</td>
				</tr>
				{{/each}}
				{{/if}}
			</table>
		</section>
	</div>
</main>

{{> footer type="admin"}}