<!DOCTYPE html>
<html lang="en">
{{#> head title='Basic debate' subtitle='Basic debate' type='basic' }}
{{/head}}

<body class="debate-basic">
    {{> user/header username=user.username }}

    <div class="debate-topper-container">
        <div class="o-grid-container">
            <div class="o-grid-row debate-topper">
                <p class="debate-type">{{debateType}}</p>
                <h1 class="debate-title">{{title}}</h1>
                <p class="debate-description">{{description}}</p>
            </div>
        </div>
    </div>

    <div class="status-topper-container">
        <div class="o-grid-container">
            <div class="o-grid-row status-topper">
                <p>
                    {{#if debateOpen}}
                    <span>Debate is <b>Open</b></span><br />
                    {{#if votingOpen}}
                    <span>Voting is <b>Open</b><br />Comments are disabled, Replies and Voting are enabled</span>
                    {{else}}
                    <span>Voting is <b>Closed</b><br />Comments & Replies are enabled and Voting is disabled</span>
                    {{/if}}
                    {{else}}
                    Debate is <b>Closed</b><br />Comments, Replies and Voting are disabled
                    {{/if}}
                </p>
            </div>
        </div>
    </div>

    <main class="o-grid-container">
        <div class="o-grid-row">
            <div class="comments-against" data-o-grid-colspan="6">
                <h2>Against</h2>
                {{#if commentsAgainst}}
                {{> basic/comments class='comments_list' comments=commentsAgainst debateId=debateId debateOpen=debateOpen }}
                {{/if}}
            </div>
            <div class="comments-for" data-o-grid-colspan="6">
                <h2>For</h2>
                {{#if commentsFor}}
                {{> basic/comments class='comments_list' comments=commentsFor debateId=debateId debateOpen=debateOpen }}
                {{/if}}
            </div>
        </div>
    </main>

    {{#if debateOpen}}
    {{#if votingOpen}}
    <div class="form-voting-container">
        <div class="o-forms">
            <div class="o-grid-container">
                <div class="o-grid-row">
                    <form action="vote/{{debateId}}?" method="POST" encrypt="multipart/form-data" class="comment-form">
                        <legend aria-describedby="default-radio-info" class="o-forms__label">Vote For/Against the
                            proposition</legend>
                        <div class="o-forms__group">
                            <input type="radio" name="tags[]" value="for" class="o-forms__radio" id="for" name="tags[]"
                                value="for">
                            <label for="for" class="o-forms__label">For</label>
                            <input type="radio" name="tags[]" value="against" class="o-forms__radio" id="against"
                                name="tags[]" value="against">
                            <label for="against" class="o-forms__label">Against</label>
                        </div>
                        <br />
                        <button type="submit" class="o-buttons o-buttons--primary" id="submit_new_debate_vote"
                            value="Submit">Submit vote</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    <div class="form-comment-container">
        <div class="o-forms">
            <div class="o-grid-container">
                <div class="o-grid-row">
                    <form action="comment/{{debateId}}?" method="POST" encrypt="multipart/form-data"
                        class="comment-form">
                        <div data-o-grid-colspan="6">
                            <label aria-describedby="textarea-info" for="o-forms__textarea"
                                class="o-forms__label">Comment</label>
                            <textarea id="o-forms__textarea" class="o-forms__textarea" name="comment" rows=" 4"
                                cols="250"></textarea>
                            <div class="comment-reply-notification hidden">
                                <div class="comment-reply-message"></div>
                                <a class="comment-reply-remove" href="#">Remove</a>
                            </div>
                        </div>
                        <div data-o-grid-colspan="6">
                            <legend aria-describedby="default-radio-info" class="o-forms__label">For/Against</legend>
                            <div class="o-forms__group">
                                <input type="radio" name="tags[]" value="against" class="o-forms__radio" id="against"
                                    name="tags[]" value="against" checked="checked">
                                <label for="against" class="o-forms__label">Against</label>
                                <input type="radio" name="tags[]" value="for" class="o-forms__radio" id="for"
                                    name="tags[]" value="for">
                                <label for="for" class="o-forms__label">For</label>
                            </div>
                            <input class="comment-reply-to" type="hidden" name="replyTo" />
                            <br />
                            <button type="submit" class="o-buttons o-buttons--primary" id="submit_new_debate"
                                value="Submit">Create new comment</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    {{else}}
    <div class="form-results-container">
        <div class="o-grid-container">
            <div class="o-grid-row">
                <p>
                    Debate closed<br />
                    Voting results go here
                </p>
            </div>
        </div>
    </div>
    {{/if}}

    {{> footer type='basic' }}