<!DOCTYPE html>
<html lang="en">
{{> head title='Hats debate' subtitle='Hats debate' type='hats' }}

<body>
    <main>
        <h1>{{ starter.title }}</h1>
        <p>
            {{ starter.description }}
        </p>
        <h2>
            Comments:
        </h2>
        <ul class="comments_list">
            {{#each comments}}
            <li class="{{this.tags}}">
                <fieldset>
                    <legend>{{this.userId}}</legend>
                    <p>
                        {{this.content}}
                    </p>
                </fieldset>
            </li>
            {{/each}}
        </ul>
        <div class="comment_new">
            <form>
                <label>New comment</label>
                <br />
                <textarea rows="5" cols="100" id="comment-new-text" name="comment-new-text"
                    placeholder="Add new comment here..." required=""></textarea>
                <br />
                <label>Hat type</label>
                <select id="comment-new-hat-opt" name="comment-new-hat-opt" required>
                    <option selected>White</option>
                    <option>Yellow</option>
                    <option>Black</option>
                    <option>Red</option>
                    <option>Green</option>
                    <option>Blue</option>
                </select>
                <br />
                <button id="comment-new-submit">Add new comment</button>
            </form>
        </div>
    </main>
    {{> footer type='hats'}}
</body>

</html>