<!DOCTYPE html>
<html lang="en">
{{#> head title=pageTitle subtitle=pageSubtitle type=pageType }}
{{/head}}

<body>
	{{> user/header username=user.username }}
	<h1>{{ pageTitle }}</h1>
	<p>
		{{ pageSubtitle }}
	</p>
	{{#each debateList}}
	<h2><a href="/type/{{ debateTypeName }}">{{ debateTypeName }}
		</a></h2>
	<ul>
		{{#each debates}}
		<li>
			<a href="/{{ ../debateTypeName }}/{{ this }}">{{ this }}</a>
		</li>
		{{/each}}
	</ul>
	{{/each}}

	<footer>
	</footer>
</body>

</html>