<!DOCTYPE html>
<html lang="en">
{{#> head title='Structured debate' subtitle='Structured debate' type='structured' }}
{{/head}}

<body>
    {{> user/header username=user.username }}
    <h1>{{title}}</h1>
    <p>{{description}}</p>
    {{#if commentsAgainst}}
    <div>
        <p>Against</p>
        {{#each commentsAgainst}}
        {{content}}
        {{/each}}
    </div>
    {{/if}}
    {{#if commentsFor}}
    <div>
        <p>For</p>
        {{#each commentsFor}}
        {{content}}
        {{/each}}
    </div>
    {{/if}}
    {{#if debateOpen}}
    <form action="/api/debate/{{id}}" method="put">
        <textarea rows="4" cols="50"></textarea>
        <input type="submit" value="Submit" />
    </form>
    {{/if}}
</body>
{{> footer type='structured' }}

</html>