<!DOCTYPE html>
<html lang="en">
{{#> head title='Structured debate' subtitle='Structured debate' type='structured' }}
{{/head}}

<body>
    {{> user/header username=user.username }}
    <h1>{{title}}</h1>
    <p>{{description}}</p>
    {{#if commentsAgainst}}
    <div>
        <h1>Against</h1>
        {{#each commentsAgainst}}
        <div>
            {{content}}
        </div>
        {{/each}}
    </div>
    {{/if}}
    {{#if commentsFor}}
    <div>
        <h1>For</h1>
        {{#each commentsFor}}
        <div>
            <h4>{{userId}}</h4>
            <p>{{content}}</p>
        </div>
        {{/each}}
    </div>
    {{/if}}
    {{#if debateOpen}}
    <form action="/{{id}}?" method="POST" encrypt="multipart/form-data">
        <textarea name="comment" rows=" 4" cols="50"></textarea>
        <input type="radio" id="against" name="tags[]" value="against" checked>
        <label for="against">against</label>
        <input type="radio" id="for" name="tags[]" value="for">
        <label for="for">for</label>
        <input type="submit" value="Submit" />
    </form>
    {{/if}}
</body>
{{> footer type='structured' }}

</html>