<article class="single-comment">
	<p class="o-teaser__user">{{comment.usernameNice}}</p>
	<time datetime="{{this.formatDate.datetime}}" class="o-date o-teaser__timestamp">{{this.formatDate.readable}}</time>
	<p class="o-teaser__text">{{comment.content}}</p>
	<div class="comment-actions">
		{{#if repliesOpen}}
		<a data-comment-id="{{comment.id}}" class="reply" href="#">Reply</a>
		<a data-debate-id="{{debateId}}" data-index="{{index}}" data-rating="upvote" class="rate" href="#">UpVote</a>
		{{/if}}
		<a data-comment-id="{{comment.id}}" class="report" href="#">Report</a>
	</div>

	{{#if this.replies}}
	<div class="o-replies">
		{{> components/comments/list class="replies" comments=this.replies debateId=debateId listStyleClass=listStyleClass }}
	</div>
	{{/if}}
</article>