<!--<article class="debate-card o-teaser o-teaser--large {{class}}">
	<div class="o-teaser__content">
		<p class="o-teaser__user">{{comment.user}}</p>
		<time datetime="{{this.formatDate.datetime}}"
			class="o-date o-teaser__timestamp">{{this.formatDate.readable}}</time>
		<p class="o-teaser__text">{{comment.content}}</p>
		{{#if repliesOpen}}
		<div class="comment-status-container">
			<div class="comment-status">
				<div class="comment-status__left">
					<a data-comment-id="{{comment.id}}" class="reply" href="#">Reply</a>
				</div>
				<div class="comment-status__right">
					<form action="rating/{{debateId}}?" method="POST" encrypt="multipart/form-data" class="rating-form">
						<input type="hidden" name="index" value="{{index}}" />
						<input type="hidden" name="rating" value="upvote" />
						<input type="submit" value="up vote" />
					</form>
				</div>
			</div>
		</div>
		{{/if}}
	</div>
</article>-->

<article class="single-comment">
	<p class="o-teaser__user">{{comment.user}}</p>
	<time datetime="{{this.formatDate.datetime}}" class="o-date o-teaser__timestamp">{{this.formatDate.readable}}</time>
	<p class="o-teaser__text">{{comment.content}}</p>
	<div class="comment-actions">
		{{#if repliesOpen}}
		<a data-comment-id="{{comment.id}}" class="reply" href="#">Reply</a>
		<a data-debate-id="{{debateId}}" data-index="{{index}}" data-rating="upvote" class="rate" href="#">UpVote</a>
		{{/if}}
		<a data-comment-id="{{comment.id}}" class="report" href="#">Report</a>
	</div>

	{{#if this.replies}}
	<div class="o-replies">
		{{> components/comments/list class="replies" comments=this.replies debateId=debateId }}
	</div>
	{{/if}}
</article>