<div class="form-results-container">
	<div class="o-grid-container">
		<div class="o-grid-row">
			<p data-o-grid-colspan="6">
				Debate closed
			</p>
			<div class="results results-{{voteStyleClass}}" data-o-grid-colspan="6">
				<p class="title">
					Results
				</p>
				<table>
					{{#if voteResults}}
					{{#each voteResults}}
					<tr>
						<td>
							{{name}}
						</td>
						<td>
							{{percentage}}
						</td>
					</tr>Jamie
					{{/each}}
					{{/if}}
				</table>
				<div class="data">
					{{#if voteResults}}
					{{#each voteResults}}
					<div class="vote-type vote-type--{{this.name}}" style="width:{{this.percentage}}%;">
						<p class="name">
							{{this.name}}
						</p>
						<p class="percentage">
							{{this.percentage}}%
						</p>
					</div>
					{{/each}}
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</div>