{{> head title='Admin create new debate' subtitle='Admin section' namedCSS="debateForm" type="admin" }}
{{> admin/header }}

{{> alert }}
<main class="o-grid-container">
	<h1 class="admin-section">Create debate</h1>
	<div class="o-grid-row">
		<section class="admin-content">
			<form id="form_new_debate" action="/admin/debate/create" method="POST">
				<div class="o-forms">
					<label for="debateType" class="o-forms__label">Debate type</label>
					<select name="debateType" class="debate-type o-forms__select" required>
						<option disabled selected value> -- select an option -- </option>
						{{#each debateTypes}}
						<option data-special-user-description="{{#each specialUsers}}{{description}},{{/each}}"
							data-special-user-name="{{#each specialUsers}}{{name}},{{/each}}"
							data-description="{{description}}" data-name="{{name}}" value="{{name}}">
							{{displayName}}
						</option>
						{{/each}}
					</select>
					<div id="msg_error" class="error o-forms__errortext hide" data-validation="debateType"></div>
				</div>
				<div class="o-forms">
					<label for="title" class="o-forms__label">Title</label>
					<input type="text" name="title" class="o-forms__text" required />
					<div id="msg_error" class="error o-forms__errortext hide" data-validation="title"></div>
				</div>
				<div class="o-forms">
					<label for="description" class="o-forms__label">Description</label>
					<input type="text" name="description" class="o-forms__text" required />
					<div id="msg_error" class="error o-forms__errortext hide" data-validation="description"></div>
				</div>
				<div class="o-forms">
					<label for="debateStatus" class="o-forms__label">Debate status</label>
					<select name="debateStatus" class="o-forms__select" required>
						<option value="open" selected>Open</option>
						<option value="closed">Closed</option>
					</select>
					<div id="msg_error" class="error o-forms__errortext hide" data-validation="debateStatus"></div>
				</div>
				<div class="o-forms">
					<label for="votingStatus" class="o-forms__label">Voting status</label>
					<select name="votingStatus" class="o-forms__select" required>
						<option value="open" selected>Open</option>
						<option value="closed">Closed</option>
					</select>
					<div id="msg_error" class="error o-forms__errortext hide" data-validation="votingStatus"></div>
				</div>
				<div class="special-users">
				</div>
				<div class="o-forms">
					<button type="submit" class="o-buttons o-buttons--primary" id="submit_new_debate">Create new
						debate</button>
				</div>
			</form>
		</section>
	</div>
</main>

{{> footer type="admin" namedJs="debateForm"}}