<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{ title }}</title>
	<meta charset="utf-8" name="description" content="{{ subtitle }}">
	<link rel="stylesheet" type="text/css" href="/static/css/common.css">
	<link rel="stylesheet" type="text/css" href="/static/css/admin/main.css">
</head>

<body>
	{{> user/header username=username }}
	<nav>
		<div class="nav-contents">
			<h1>FT Debate admin</h1>
			<div>
				{{#ifEquals page "dashboard"}}
				<span>Dashboard</span>
				{{else}}
				<a href="/admin">Dashboard</a>
				{{/ifEquals}}

				{{#ifEquals page "create"}}
				<span>Create debate</span>
				{{else}}
				<a href="/admin/create_debate">Create debate</a>
				{{/ifEquals}}

				{{#ifEquals page "moderation"}}
				<span>Moderation</span>
				{{else}}
				<a href="/admin/moderation">Moderation</a>
				{{/ifEquals}}
			</div>
		</div>
	</nav>